@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", san-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #06182c;
    width: 100%;
    overflow-x: hidden;
    color: white;
}

header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    filter: drop-shadow(10px);
    z-index: 100; 
}
.hero{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:1rem;
}
.btn a{
    padding: 0.7rem 5%;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
}

.btn a:nth-child(2){
    background-color: rgba(255,255,255,0.1);
    
}


.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    width: 100%;
    padding: 3rem;
}
 
.main-container h5{
    font-size: 2.5rem;
    font-weight: 500;
    color: blue;
    text-transform: uppercase;
}

.main-container h3{
    font-size: 3.5rem;
    font-weight: 500;
    
}
.main-container p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}
.first a{
    padding: 0.8rem 6%;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    background:blue;
    border-radius: 8px;
}

.first p{
    font-weight: 500;
    font-size: 1.5rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
    width: 100%;
}

.container-wallet{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    width: 100%;
    background-color: white;
    border-radius: 12px;
}
.container-wallet img{
    height: 40px;
    width: 40px;
}

.container-wallet p{
    font-size: 0.3rem;
    color: #587087;
    line-height: 1.3;
}
.container-wallet h5{
    color: steelblue;
    
}

.container-wallet textarea{
    padding: 0.4rem;
    border: 1px solid grey;
    border-radius: 6px;
}

.submit{
    border: none;
    width: 90%;
    text-align: center;
    font-size: 1.2;
    color: white;
    padding: 4px;
    background-color: steelblue;
    margin-top: 8px;
    border-radius: 6px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container img{
    width: 500px;
    height: 500px;
    
}
.hero h1{
    font-size: 5rem;
    font-weight: 700;
    text-align: left;
}

.hero h2{
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
}
header img{
    width: 48px;
    height: 48px;
}
.connect-btn a{
    color: white;
    display: inline-flex;
    padding: 0.5rem 8%;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 600;
    
}
.connect-btn a img{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}


/* sub container */

.sub-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
   
}
.sub-container-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}
.sub-container-b{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1.5rem;
}
.sub-container-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap:1.5rem;
    
}

.sub-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap:2rem;
    height: auto;
    padding: 2rem;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 4px 30px rgb(0,0,0,0.1);
    backdrop-filter:blur(5px);
    border-radius: 24px;
    transition: 0.5s all ease;
}
.sub-card:hover{
    transform: scale(1.1) translateY(-5px);
}
.sub-card a{
    padding: 0.8rem 6%;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    background:blue;
    border-radius: 8px;
}

.sub-card h3{
    font-size: 2.5rem;
}
.first{
   width: 80%; 
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
    
}

.gallery img{
    height: 200px;
    width: 200px;
    transition: 0.5s all ease-in-out;
}

.gallery img:hover{
    transform: scale(1.1) translateY(-5px);
}
.card-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 4px 30px rgb(0,0,0,0.1);
    backdrop-filter:blur(5px);
    border-radius: 16px;
    text-align: center;
    gap:1rem;
    height: 200px;
    width: 600px;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}
.card-bg:hover{
    transform: scale(1.1) translateY(-5px);
}
.card-bg img{
    height: 30px;
    width: 30px;
}
.card-bg p{
    font-size: 1.5rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 4px 30px rgb(0,0,0,0.1);
    backdrop-filter:blur(5px);
    border-radius: 16px;
    text-align: center;
    height: 300px;
    width: 300px;
    padding: 1rem;
    transition: all 0.5s ease;
}

.card:hover{
    transform: scale(1.1) translateY(-5px);
}
.card h3{
    font-size: 5rem;
   font-weight: 800;
}

.card p{
    font-size: 2rem;
    font-weight: 500;
}

.dapp-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    height: auto;
    padding: 2rem;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 4px 30px rgb(0,0,0,0.1);
    backdrop-filter:blur(5px);
    border-radius: 24px;
}
.dapp-card h1{
    font-weight: 500;
    font-size: 3rem;
}
.dapp-card p{
    font-size: 1.8rem;
    font-weight: 500;
}
.dapp-btn{
    display: flex;
    flex-direction: row;
    gap:1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dapp-btn a{
color: white;
font-size: 1.5rem;
padding: 1rem;
border: 1px solid white;
border-radius: 6px;
}

footer{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    
    
}

footer p{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0.5rem;
}


/* app.html */


    #popup-container {
      position:absolute;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top:25%;
      left:50%;
      width: 75%;
      height: 250px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 30px;
      box-sizing: border-box;
      animation: fadeIn 0.5s ease-out;
    }
    
    #loading-animation {
      border: 8px solid #3498db;
      border-top: 8px solid #f3f3f3;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 1s linear infinite;
      margin-top:20px;
      margin-bottom: 50px;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    #error-message {
      color: #e74c3c;
      margin-bottom: 40px;
      display: none;
      font-weight:500;
      
    }

    #proceed-button {
      
      background-color: #3498db;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      border: none;
      height:15%;
      width:60%;
      border-radius: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    #proceed-button:hover {
      background-color: #2980b9;
    }
    

       .cool-button {
      position: relative;
      width: 50px;
      height: 50px;
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .cross-line {
      position: absolute;
      width: 2px;
      height: 12px;
      background-color: red;
      transition: transform 0.3s ease-in-out;
    }

    .horizontal-line {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    .vertical-line {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .cool-button.clicked .horizontal-line {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .cool-button.clicked .vertical-line {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

.explorer h1{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.explorer{
    padding: 1rem 5%;
}
#explorer img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
#explorer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap:4rem;
    align-items: center;
    padding:  2rem 10%;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 4px 30px rgb(0,0,0,0.1);
    backdrop-filter:blur(5px);
    border-radius: 24px;
    margin-bottom: 2rem;
}
figcaption {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
figure a{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
